<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f3f8fc;">
    <div class="container-fluid">
        <i class="bi bi-list mx-2" style="font-size:30px;"></i>
      <a class="navbar-brand" href="#"><img style="height: 40px; width: 40px;" src="https://www.freepnglogos.com/uploads/logo-outlook-png/logo-microsoft-outlook-icon-download-icons-0.png" alt=""></a>
      <button class=" rounded-3 p-2 px-3 me-5 border-0 text-white" style=" background-color: #0575c9;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">  <i class="bi bi-pencil-square"></i> New Message</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-trash3 m-1" style="font-size: 18px;"></i> Delete</a>
        </li>
          <li class="nav-item mx-2 ">  <a class="nav-link active" aria-current="page" href="#"><i class=" bi bi-archive m-1" style="font-size: 18px;"></i> Archive</a></li>
          <li class="nav-item mx-2 ">  <a class="nav-link active" aria-current="page" href="#"><i class=" bi bi-folder2-open m-1" style="font-size: 18px;"></i> Move to</a></li>
          <li class="nav-item mx-2 ">  <a class="nav-link active" aria-current="page" href="#"><i class=" bi bi-flag m-1" style="font-size: 18px;"></i> Flag</a></li>
          <li class="nav-item mx-2 ">  <a class="nav-link active" aria-current="page" href="#"><i class=" bi bi-envelope-check m-1" style="font-size: 18px;"></i> Mark as Unread</a></li>
          <li class="nav-item mx-2 ">  <a class="nav-link active" aria-current="page" href="#"><i class=" bi bi-arrow-repeat m-1" style="font-size: 18px;"></i> Sync</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

